body{
    margin: 0;
}

#presentation{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: $presentation;
    position: absolute;
    img{
        width: 98%;
    }
    .profil, .competence, .loisir, .soft{
        width: 90%;
        h2{
            text-align: center;
            margin: 2px;
            color: $title;
        }
        ul{
            padding: 0;
            li{
                list-style: none;
                margin-top: 20px;
                color: white;
                font-weight: bold;
                font-size: 16px;
                a{
                    color: white;
                }
            }
    
        }
    }
   
}

#description{
    margin-left: 20%;
    padding: 10px;
    background-color: $title;
    height: 150px;
    h2, h1{
        text-align: center;
        margin:5px
    }
    p{
        text-align: center;
    }
}

//mobile
@media screen and (min-width:320px) and (max-width:750px){
    #presentation{
        position: inherit;
        width: 100%;
        img{
            height: 200px;
            width: 60%;
        }
        ul{
            text-align: center;
        }

    }

    #description{
        margin-left: 0;
        height: auto;
    }
}