main{
    // format pdf
    // margin-left: 60%;
    margin-left: 20%;

    .competence_pro,.experiences, .formation{
        display: flex;
        flex-direction: column;
        align-items: center;
        p{
            margin: 0;
        }
        a{
            color: $color_secondary;
            text-decoration: none;
        }
        h2{
            border: solid;
            width: 90%;
            text-align: center;
        }
        ul{
            padding: 0;
            width: 100%;
            li{
                display: flex;
                justify-content: center;
                align-items: flex-start;
                margin: 3px;
               
                h3{
                    margin:0;
                    width: 45%;
                }
                .travail{
                    width: 45%;
                }
                .titre{
                    width: 50%;
                }
                .adresse{
                    width: 50%;
                    
                }
            }
    
        }
        .competence_pro_content{
                width: 90%;
                i{
                    margin-right: 20px;
                }
                li{
                    display: flex;
                    justify-content: flex-start;
                    
                }
                
        }
    }
}

//mobile
@media screen and (min-width:320px) and (max-width:750px){
    main{
        margin-left: 0;
        .experiences, .formation, .competence_pro{
            h2{
                margin-bottom:0;
            }
            ul{
                width: 100%;
                li{
                    flex-direction: column;
                    align-items: center;
                    h3{
                        width: 100%;
                        text-align: center;
                        margin-bottom: 5px;
                    }
                    .travail{
                        width: 100%;
                        text-align: center;
                    }
                }
        
            }
        }
    }
}